.basic {
  margin-left: 5%;
  margin-right: 5%;
}

#rules {
  text-align: center;
}

#step1 {
  margin-left: 5%;
  margin-right: 5%;
}

.triangle {
  width: 50%;
}

#paper {
  width: 20%;
  height: 20%;
}

#scissors {
  width: 30px;
}

#rock {
  width: 30px;
}

#btnRules {
  position: absolute;
}

#rules-modal {
  padding-top: 0px;
}

#modal-content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px;
  border-radius: 0px;
}

#modal-content p {
  margin-top: 30px;
  margin-bottom: 80px;
}
